@{
    ViewBag.Title = "ABOUT MISSIONS ENCYCLOPEDIA R US";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="jumbotron" style="background-color: lightblue;">
    <div class="container" style="background-color: lightblue;">
        <h2>
            ORIGIN
        </h2>
        <p>
            Once upon a time, we too were confused, immature, and afraid 18-21 year old boys and girls perplexed at our incoming future.
            Just like you, we spent the days and weeks leading up to our missions daydreaming about what the mission would be like. Without
            anyone to turn to we had to embark into the mission field blind. With this issue in mind, MISSIONS ENCYCLOPEDIA R US was born. Now
            no one will ever have to enter the mission field with questions and concerns hanging over them.
        </p>
    </div>
    <div class="container" style="background-color: lightblue;">
        <h2>
            ELDER BEDNAR AND ELDER OAKS
        </h2>
        <p>
            <img style="text-align: center;" src="~/Content/images/OriginPic.jpg">
        </p>
    </div>
</div>
