@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<div class="jumbotron" style="background-color: lightblue;">
    <div class="container" style="background-color: lightblue;">
        <p>
           <h3>Address</h3>
               <address>
                   50 N West Temple<br />
                   Salt Lake City, UT 84150<br />
                   <abbr title="Phone">P:</abbr>
                   (801) 240-2640<br />
                   <abbr title="Email">E:</abbr>
                   MissionsEncyclopediaRUs@gmail.com
               </address>
        </p>
        
        <label for="contactForm">Enter your information here:</label>
        <form action=" " name="contactForm">
            First name:<br>
            <input type="text" name="firstname" value="">
            <br>
            Last name:<br>
            <input type="text" name="lastname" value="">
            <br>
            Email:<br>
                    <input type="text" name="email" value="">
            <br>
            <br><br>
            <input type="reset" value="Submit">
        </form> 
    </div>
</div>