@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"  style="background-color: lightblue;">
    <div class="container" style="background-color: lightblue;">
        <iframe class="center-block" width="560" height="315" src="https://www.youtube.com/embed/I6FKiNVbw3Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="row">
    <div class="col-md-4" style="background-color: lightblue;">
        <h2>Prepare for your Mission</h2>
        <p>
            “There are no heroes, just those that choose to be servants.”<br />
            ― Ricky Maye
        </p>
        <p><a class="btn btn-default" href="https://www.churchofjesuschrist.org/callings/missionary?lang=eng">Prepare Now &raquo;</a></p>
    </div>
    <div class="col-md-4"> 
        <img style="width: auto; height: 170px;" src="~/Content/images/missionary-quote.jpg" />
    </div>
    <div class="col-md-4" style="background-color: lightblue;">
        <h2>Web Hosting</h2>
        <p>I'm not sure what to put here</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>